body  { margin: 6px; cursor: default; _background: url('../img/bg/grey.png') repeat #ffffff; }

div,span,td,input  { font-family: 'Open Sans',Tahoma; font-size: 11px; }

*         { -webkit-user-select: none; -moz-user-select: -moz-none; -ms-user-select: none; -o-user-select: none; user-select: none; }
input     { -webkit-user-select: text; -moz-user-select: text;      -ms-user-select: text; -o-user-select: text; user-select: text; }
textarea  { -webkit-user-select: text; -moz-user-select: text;      -ms-user-select: text; -o-user-select: text; user-select: text; }

select  { border: 1px solid #888888; background-color: #eeeeee; color: #666666; }

a         { text-decoration: none; color: #000000; }

span.sep-dot  { margin-left: 4px; margin-right: 4px; }

.tags span  { white-space: nowrap; padding: 0px 6px 2px 6px; margin-right: 3px; border: 1px solid #19d1e6; background-color: #9fecf4; color: #084349; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

#msg  { display: none; position: fixed; top: 60px; right: 0px; padding: 4px 20px 5px 20px; border: 1px solid #444444; border-right: 0px; background-color: #ffd129; font-weight: bold; -webkit-box-shadow: 0px 0px 4px #444444; -moz-box-shadow: 0px 0px 4px #444444; box-shadow: 0px 0px 4px #444444; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; border-top-left-radius: 2px; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-bottomleft: 2px; border-bottom-left-radius: 2px; }

#loc-bar                  { position: fixed; float: left; top: 0px; right: 0px; z-index: 50; -webkit-box-shadow: 0px 0px 4px #444444; -moz-box-shadow: 0px 0px 4px #444444; box-shadow: 0px 0px 4px #444444; -webkit-border-bottom-left-radius: 2px; -moz-border-radius-bottomleft: 2px; border-bottom-left-radius: 2px; }
#loc-bar div              { float: left; padding: 4px 12px 5px 12px; font-weight: bold; }
#loc-bar div:first-child  { -webkit-border-bottom-left-radius: 2px; -moz-border-radius-bottomleft: 2px; border-bottom-left-radius: 2px; }
#loc-bar div.prog         { border-bottom: 1px solid #003b75; border-left: 1px solid #003b75; background-color: #0c9fe9; color: #002447; }
#loc-bar div.course       { border-bottom: 1px solid #9024a3; border-left: 1px solid #9024a3; background-color: #d98fe6; color: #591664; }
#loc-bar div.act          { border-bottom: 1px solid #008f13; border-left: 1px solid #008f13; background-color: #94ffa2; color: #008f13; }

#tbar  { padding: 2px 0px 6px 0px; border-bottom: 1px solid #aaaaaa; -webkit-box-shadow: 0px 2px 1px #eeeeee; -moz-box-shadow: 0px 2px 1px #eeeeee; box-shadow: 0px 2px 1px #eeeeee; }

#tbar input[type="button"]            { border: 1px solid #888888; background-color: #eeeeee; color: #666666; margin: 0px; font-weight: bold; padding: 4px 10px 5px 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
#tbar input[type="button"]:hover      { border: 1px solid #666666; background-color: #b3d9ff; color: #002447; }
#tbar input[type="button"].sel        { border: 1px solid #003b75; background-color: #0c9fe9; color: #ffffff; -webkit-box-shadow: 0px 0px 3px #444444; -moz-box-shadow: 0px 0px 3px #444444; box-shadow: 0px 0px 3px #444444; }
#tbar input[type="button"].sel:hover  { border: 1px solid #003b75; background-color: #0b92d5; color: #ffffff; }

#main  { background-color: #ffffff; margin-top: 12px; margin-bottom: 30px; border: 1px solid #444444; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; }

#main th                                    { padding: 3px 2px 3px 4px; font-weight: bold; border-right: 1px dotted #999999; border-bottom: 1px solid #888888; background-color: #bbbbbb; text-align: left; }
#main th:first-child                        { -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px; }
#main th:last-child                         { border-right: 0px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-top-right-radius: 5px; }
#main th table                              { width: 100%; }
#main th table td                           { white-space: nowrap; }
#main th table td.txt                       { padding-right: 20px; font-size: 12px; }
#main th table td.btn                       { text-align: right; }
#main th table td.btn input[type="button"]  { }

#main>tbody>tr>td             { border-right: 1px solid #bbbbbb; }
#main>tbody>tr>td:last-child  { border-right: 0px; }

#main table.filter                     { background-color: #dddddd; border-bottom: 1px solid #aaaaaa; }
#main table.filter td                  { padding: 1px 4px 2px 4px; }
#main table.filter input[type="text"]  { background-color: #eeeeee; }

#main table.cont tr           td                   { padding: 2px 4px 4px 4px; border-top: 1px solid transparent; border-bottom: 1px solid transparent; white-space: nowrap; }
#main table.cont tr:hover     td                   { background-color: #f1d0f6; }
#main table.cont tr.sel                            { background-color: #d98fe6; border-top: 1px solid #c554d9; border-bottom: 1px solid #c554d9; color: #47114f; font-weight: bold; }
#main table.cont tr.sel       td                   { background-color: #d98fe6; border-top: 1px solid #c554d9; border-bottom: 1px solid #c554d9; color: #ffffff; font-weight: bold; }
#main table.cont tr           td span.my           { padding: 0px 4px 0px 4px; border: 1px solid #003b75; background-color: #0c9fe9; color: #ffffff; font-size: 9px; font-weight: bold; }
#main table.cont tr           td span.institution  { padding: 0px 4px 0px 4px; border: 1px solid #444444; background-color: #eeeeee; color: #222222; font-size: 9px; font-weight: bold; }
#main table.cont tr           td.ord-num           { text-align: right; padding-right: 0px; }

#main table input[type="button"]        { border: 1px solid transparent; background-color: transparent; color: #888888; margin: 0px; padding: 0px 5px 0px 5px; font-size: 12px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
#main table input[type="button"]:hover  { border: 1px solid #888888;     background-color: #cccccc;     color: #000000; }

#main #prov-lst-cont  { padding: 6px 6px 6px 0px; }

#main #prov-lst-cont input[type="button"].prov-btn            { border: 1px solid #888888; background-color: #eeeeee; color: #666666; margin: 0px 0px 0px 6px; font-size: 11px; font-weight: bold; padding: 1px 6px 2px 6px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
#main #prov-lst-cont input[type="button"].prov-btn:hover      { border: 1px solid #666666; background-color: #b8ffc1; color: #0b6016; }
#main #prov-lst-cont input[type="button"].prov-btn-sel        { border: 1px solid #137c21; background-color: #75ff88; color: #0a5c15; margin: 0px 0px 0px 6px; font-size: 11px; font-weight: bold; padding: 1px 6px 2px 6px; -webkit-box-shadow: 0px 0px 3px #888888; -moz-box-shadow: 0px 0px 3px #888888; box-shadow: 0px 0px 3px #888888; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
#main #prov-lst-cont input[type="button"].prov-btn-sel:hover  { background-color: #0fff2f; }

/*
#main #prov-lst-cont input[type="button"].prov        { border: 1px solid #888888; background-color: #eeeeee; color: #666666; margin: 2px 4px 2px 6px; font-size: 11px; font-weight: bold; padding: 1px 6px 2px 6px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
#main #prov-lst-cont input[type="button"].prov:hover  { border: 1px solid #444444; background-color: #dddddd; color: #222222; }
*/

#main #act-det-lst-cont                   { display: none; padding: 6px; }
#main #act-det-lst-cont tr:hover td       { background-color: transparent; }
#main #act-det-lst-cont          td.td01  {  }
#main #act-det-lst-cont          td.td02  { font-weight: bold; }

#main #act-det-tbl tr td  { padding: 1px 4px 3px 0px; }

#main #act-det-frame  { margin: 10px 0px 0px 0px; padding: 0px; border: 1px solid #888888; width: 600px; height: 460px; }

#main #act-det-btn            { border: 1px solid #888888; background-color: #eeeeee; color: #666666; margin: 0px 0px 8px 0px; font-weight: bold; padding: 4px 10px 5px 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
#main #act-det-btn:hover      { border: 1px solid #666666; background-color: #b8ffc1; color: #0b6016; }
#main #act-det-btn.sel        { border: 1px solid #137c21; background-color: #75ff88; color: #0a5c15; font-weight: bold; -webkit-box-shadow: 0px 0px 3px #888888; -moz-box-shadow: 0px 0px 3px #888888; box-shadow: 0px 0px 3px #888888; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
#main #act-det-btn.sel:hover  { background-color: #0fff2f; }

#main #act-det-lst-cont input[type="button"].act        { border: 1px solid #888888; background-color: #eeeeee; color: #666666; margin: 0px; font-weight: bold; padding: 4px 10px 5px 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
#main #act-det-lst-cont input[type="button"].act:hover  { border: 1px solid #444444; background-color: #dddddd; color: #222222; }

#footer          { position: fixed; bottom: 2px; right: 30px; color: #888888; }
#footer a        { text-decoration: none; color: #888888; }
#footer a:hover  { text-decoration: underline; color: #444444; z-index: 100; }
